# Dependencies
node_modules
client/node_modules
server/node_modules

# Environment files
.env
client/.env
server/.env

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build files
/client/build
/server/build

# IDE files
.idea
.vscode
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Ignore test files and folders
client/src/tests
server/tests

# Ignore any local configuration files
*.local